<footer class="site-footer conference-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>CONTACT</h4>
        <div class="social-links">
          <div class="social-link contact-links">
            <img
              src="{{ "/assets/img/icons/email.png" | absolute_url }}"
              alt="email"
            />
            <a href="mailto:bethune@rice.edu">bethune@rice.edu</a>
          </div>
        </div>
      </div>

      <div class="footer-col footer-col-2">
        <h4>ORGANIZERS</h4>
        <p style="font-size: 13px; margin-top: 6.5px;">
          Zach Bethune<br/>
          Shihan Shen<br/>
          David Zhang
        </p>
      </div>

      <div class="footer-col footer-col-3">
        <h4>HOSTED BY</h4>
        <p style="font-size: 13px; margin-top: 6.5px;">
          Department of Economics<br/>
          Rice University<br/>
          Houston, TX 77005
        </p>
        <p style="margin-top: 8px;">
          <img src="{{ "/assets/img/rice_logo_2.png" | absolute_url }}" alt="Rice University" width="150" />
        </p>
      </div>
    </div>
  </div>
</footer>
