<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  {% assign page_title = "The Texas Monetary Conference" %}
  {% if page.title %}
    {% assign page_title = page_title | append: " | " | append: page.title %}
  {% endif %}

  {% assign page_description = "The Texas Monetary Conference — an annual conference on monetary economics hosted at Rice University, Houston, TX." %}
  {% if page.blurb %}
    {% assign page_description = page.blurb %}
  {% endif %}

  {% assign page_url = page.url | replace: "index.html","" | replace: ".html","" | prepend: site.baseurl | prepend: site.url %}

  <!-- Primary Meta Tags -->
  <title>{{ page_title }}</title>
  <meta name="title" content="{{ page_title }}"/>
  <meta name="description" content="{{ page_description }}"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:site_name" content="The Texas Monetary Conference"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ page_url }}"/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:description" content="{{ page_description }}"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary"/>
  <meta property="twitter:url" content="{{ page_url }}"/>
  <meta property="twitter:title" content="{{ page_title }}"/>
  <meta property="twitter:description" content="{{ page_description }}"/>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}"/>
  <link rel="canonical" href="{{ page_url }}"/>
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absolute_url }}" type="image/x-icon"/>
</head>
