<header class="site-header conference-header">
  <div class="wrapper">
    <a class="site-title conference-title" href="{{ "/texas-monetary-conference/" | absolute_url }}">
      The Texas Monetary Conference
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

      <div class="menu">
        <a class="page-link" href="{{ "/texas-monetary-conference/" | absolute_url }}">Program</a>
        <a class="page-link" href="{{ "/texas-monetary-conference/speakers" | absolute_url }}">Speakers</a>
        <a class="page-link" href="{{ "/texas-monetary-conference/travel" | absolute_url }}">Travel</a>
        <a class="page-link" href="{{ "/texas-monetary-conference/about" | absolute_url }}">About</a>
        <a class="page-link" href="{{ "/texas-monetary-conference/past" | absolute_url }}">Past Conferences</a>
      </div>
    </nav>
  </div>
</header>
